.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-container {
  height: 100vh;
  background-color: #6ec5e9;
  width: 60%;
}

.right-container {
  height: 100vh;
  background-color: #f5f5f5;
  width: 40%;
}

mat-card {
  padding: 15px 15px 25px 15px;
  width: 360px;
  min-height: 360px;
  margin: 120px 60px;
}

mat-card-title {
  color: #3f51b5;
  padding: 5px;
  margin: 20px 0px;
}

mat-form-field {
  width: 100%;
}

mat-card-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 10px;
}
